body {
  margin-top: 10px;
  background-color: rgba(255, 192, 58, 0.801);
}

img, h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
